@using Qkmaxware.Emulators.Gameboy
@using Qkmaxware.Emulators.Gameboy.Hardware

@if (Header is not null) {
<div>
    <table>
        <thead>
            <tr>
                <th class="w3-center">@(dbInfo?.Name ?? Header.title)</th>
            </tr>
        </thead>
    </table>
    @if (dbInfo?.BoxArtUrl is not null) {
        <img src="@dbInfo.BoxArtUrl" alt="@dbInfo.BoxArtUrl" title="@dbInfo.BoxArtUrl">
    }
    <table>
        <tbody>
            @if (dbInfo is not null) {
            <tr>
                <td>Developer</td> <td>@dbInfo.DeveloperName</td>
            </tr>
            <tr>
                <td>Publisher</td> <td>@dbInfo.PublisherName</td>
            </tr>
            <tr>
                <td>Released</td> <td>@dbInfo.ReleaseYear</td>
            </tr>
            }
            <tr>
                <td>Region</td> <td>@Header.region</td>
            </tr>
            <tr>
                <td>Cart Type</td> <td>@Header.cartType.MBC</td>
            </tr>
            <tr>
                <td>Rom</td> <td>size:@Header.romClass.Size, banks:@Header.romClass.BankCount</td>
            </tr>
            <tr>
                <td>Ram</td> <td>size:@Header.eramClass.Size, banks:@Header.eramClass.BankCount</td>
            </tr>
        </tbody>
    </table>
</div>
}

@code { 

    private Cartridge? cart;
    private GameInfo? dbInfo;
    #pragma warning disable BL0007
    [Parameter] public Cartridge? Cart{
        get => cart;
        set {
            if (value != cart) {
                this.cart = value;
                if (value is not null) {
                    this.dbInfo = GameDatabase.Instance().Where(x => x.CartTitle == value.Info.title).FirstOrDefault();
                } else {
                    this.dbInfo = null;
                }
            }
        }
    }
    #pragma warning restore BL0007

    public CartridgeHeader? Header => Cart?.Info;
}